<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Asistencia Duoc
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-grid class="ion-padding-top">
      
      <ion-row class="ion-text-center">
        <ion-col>
          <ion-text>
            <h1>Inicio de sesion</h1>
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row class="ion-text-center">
        <ion-col>
          <ion-text>
            <h4>¿Que tipo de usuario eres?</h4>
            <ion-card-subtitle>(deslisa a la derecha si no eres este tipo de usuario)</ion-card-subtitle>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>



    <div class="center">
      <ion-slides pager="ios" class="ion-padding-bottom">
        <ion-slide>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-text>
                  <h1>Alumno</h1>
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-left">
                <p>Nombre de usuario</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-textarea placeholder="Usuario Institucional"></ion-textarea>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-left">
                <p>Contraseña</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-textarea placeholder="Contraseña"></ion-textarea>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
        <ion-slide>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-text>
                  <h1>Profesor</h1>
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-left">
                <p>Nombre de usuario</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-textarea placeholder="Usuario Institucional"></ion-textarea>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-left">
                <p>Contraseña</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-textarea placeholder="Contraseña"></ion-textarea>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
      </ion-slides>
    </div>

    <ion-grid class="ion-text-center">
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button [routerLink]="['/inicio/perfil']">
            Iniciar sesion
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-back-circle"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="start">
      <ion-fab-button>
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-steam"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-discord"></ion-icon>
      </ion-fab-button> 
    </ion-fab-list>

  </ion-fab>

</ion-content>
