<ion-header [translucent]="true">
  <ion-toolbar color="uwu" >
    <ion-title class="ion-text-center">
      <ion-img src="https://lh3.googleusercontent.com/proxy/ZAuAQ89uidu2XCj493LLCsjlV1ra5dC9Ox9Xh1huVKNBKu6TTksDJQsM50RCX2LmL4n2uNu36vRZwPGCeidRVEMco47UUVuCGQ" class="image"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--Banner-->
  <div>
    <ion-grid class="ion-padding-top">
      
      <ion-row class="ion-text-center">
        <ion-col>
          <ion-text>
            <h1>Inicio de sesion</h1>
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row class="ion-text-center">
        <ion-col>
          <ion-text>
            <h4>¿Que tipo de usuario eres?</h4>
            <ion-card-subtitle>(deslisa a la derecha si no eres este tipo de usuario)</ion-card-subtitle>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>


    <!--Slides inicio de sesion (Alumno/Profesor)-->
    <div class="center">
      <ion-slides pager="ios" class="ion-padding-bottom">
        <ion-slide>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-text>
                  <h1>Alumno</h1>
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-left">
                <p>Nombre de usuario</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-textarea placeholder="Usuario Institucional"></ion-textarea>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-left">
                <p>Contraseña</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-textarea placeholder="Contraseña"></ion-textarea>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
        <ion-slide>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-text>
                  <h1>Profesor</h1>
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-left">
                <p>Nombre de usuario</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-textarea placeholder="Usuario Institucional"></ion-textarea>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-left">
                <p>Contraseña</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-textarea placeholder="Contraseña"></ion-textarea>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
      </ion-slides>
    </div>
    <!-- boton iniciar sesion-->
    <ion-grid class="ion-text-center">
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button [routerLink]="['/inicio/perfil']">
            Iniciar sesion
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  
 <!-- FAB (icono de redes sociales)-->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-up-circle"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button> 
    </ion-fab-list>

  </ion-fab>

</ion-content>
<!--Footer-->
<ion-footer class="ion-no-border ion-text-center">
  <ion-toolbar>
    <ion-title>Duoc UC</ion-title>
  </ion-toolbar>
</ion-footer>

<ion-footer>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <ion-text>
            <a href="https://campusvirtual.duoc.cl/webapps/login/">Plataforma Virtual de aprendizaje</a><br>
            <a href="https://experienciavivo.duoc.cl/alumnos"> Vivo DuocUc</a><br>
          </ion-text>
        
        </ion-col>
        <ion-col size="6"><ion-img src="https://duoc.modyocdn.com/uploads/4cc9c501-1083-4cb4-a3fe-d3f18b0eefcd/original/logo_acred.svg"></ion-img></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">Contacto: 
          <a href="mailto:ja.quinterosg@duocuc.cl">Desarrollador</a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
